@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  body {
    background-color: #202020
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  .header-gradient{
    background: linear-gradient(
      to bottom,
      hsl(0, 0%, 12.5%) 46.2%,
      hsla(0, 0%, 12.5%, 0.88294) 51.7%,
      hsla(0, 0%, 12.5%, 0.7426) 57.2%,
      hsla(0, 0%, 12.5%, 0.58891) 62.8%,
      hsla(0, 0%, 12.5%, 0.42866) 68.7%,
      hsla(0, 0%, 12.5%, 0.2693) 75.2%,
      hsla(0, 0%, 12.5%, 0.12126) 82.6%,
      hsla(0, 0%, 12.5%, 0.01257) 91.2%,
      hsla(0, 0%, 12.5%, 0)
    );
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}